@Styles.Render("~/Content/Site.css")

@{
    ViewBag.Title = "CRUD Operations";
}

<div class="jumbotron">
    <h3 class="heading">ASP.NET MVC Web Application with ADO.NET Entity Framework[Database First Approach].</h3>
    <h4 class="heading">CRUD Operations</h4>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>C - Create Operation</h2>
        <p>The create function allows users to create a new record in the database. In the SQL relational database application, the Create function is called INSERT. In Oracle HCM Cloud, it is called create. Remember that a record is a row and that columns are termed attributes.
        </p>
    </div>
    <div class="col-md-3">
        <h2>R - Read Operation</h2>
        <p>The read function is similar to a search function. It allows users to search and retrieve specific records in the table and read their values. Users may be able to find desired records using keywords, or by filtering the data based on customized criteria.
        </p>
    </div>
    <div class="col-md-3">
        <h2>U - Update Operation</h2>
        <p>The update function is used to modify existing records that exist in the database. To fully change a record, users may have to modify information in multiple fields.
        </p>
    </div>
    <div class="col-md-3">
        <h2>D - Delete Operation</h2>
        <p>The delete function allows users to remove records from a database that is no longer needed. Both SQL and Oracle HCM Cloud have a delete function that allows users to delete one or more records from the database.
        </p>
    </div>
</div>